[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
python_full_version = "3.12.7"
